<robot name="TEMPLATE_model">
  <!-- 
  <link name="world"/>
  <joint name="cup_joint" type="floating" >
    <axis xyz="0 0 1" />
    <parent link="world" />
    <child link="cup" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>
  -->
  <link name="TEMPLATE">
    <inertial>
      <mass value="1" />
      <!-- center of mass (com) is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" /> 
      <inertia  ixx="1" ixy="0.0"  ixz="0.0"  iyy="1"  iyz="0.0"  izz="1" />
    </inertial>
    <visual>
      <!-- visual origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://icr/models/dae/TEMPLATE.dae" scale="1 1 1" />
      </geometry>
    </visual>
    <collision>
      <!-- collision origin is defined w.r.t. link local coordinate system -->
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://icr/models/dae/TEMPLATE.dae" scale="1 1 1" />
      </geometry>
    </collision>
  </link>
  <gazebo>
    <static>true</static>
  </gazebo>
</robot>
