<launch>

  <node pkg="icr" name="grasp_server" type="grasp_server" output="screen">
        <remap from="set_object" to="/grasp_server/set_object"/>
        <param name="icr_prefix" type="string" value="/icr" />  
        <param name="tf_prefix" type="string" value="/srh/position" />  
        <param name="spin_frequency" type="double" value="100" /> 
     <rosparam file="$(find icr)/config/grasp_server_config.yaml" command="load"/>
  </node>


</launch>
