<launch>

  <node pkg="icr" name="icr" type="icr_server" output="screen" ns="icr_server">
      <param name="computation_mode" type="string" value="continuous" />  <!--possible values: "continuous" or "step_wise" -->
      <rosparam file="$(find icr)/config/phalange_config.yaml" command="load"/>
  </node>

</launch>
