<launch>
  <node pkg="icr" name="Model_Server" type="model_server" output="screen">
     <param name="icr_prefix" type="string" value="" />  
     <param name="gazebo_prefix" type="string" value="/gazebo" />
  </node>

  <node pkg="icr" name="Icr_Server" type="icr_server" output="screen" >
      <param name="icr_prefix" type="string" value="" />  
      <param name="alpha_shift" type="double" value="0.5" />
      <rosparam file="$(find icr)/input_grasps/test.yaml" command="load" ns="icr_fingers_param"/>		
  </node>

  <node pkg="rviz" name="Rviz_Visualizer" type="rviz">
      <param name="icr_prefix" type="string" value="" />  
  </node>

</launch>